//
// Variables
// -------------------------------------
$font-sm:     16px / 0.8
$font-md:     $font-sm / 0.8
$font-lg:     $font-md / 0.8
$font-xl:     $font-lg / 0.8

//
// Bootstrap Overrides
// 
// - Variables here will override any 
//   Bootstrap variables!
// -------------------------------------
$brand-primary: #2F2B3F